body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("./assets/todoImage2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: rgb(88, 6, 51);
  text-align: center;
  background-color: rgb(246, 246, 248);
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 0.25px;
  font-size: 23px;
  margin-bottom: 10px;
}

.listItems {
  margin-left: 0px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 2px solid purple;
  border-radius: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  width: 80%;
  padding: 10px;
  border: 2px solid purple;
  border-radius: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  min-height: 100px; /* Adjust based on your needs */
  resize: vertical; /* Allow vertical resizing */
}

.taskItems {
  text-align: center;
  margin: 20px;
  border: 3px solid #efeeed;
  padding: 10px;
  border-radius: 10px;
  background: #000000af;
  color: white;
}

.taskItems.completed {
  background: #4CAF50; /* Green for completed tasks */
  text-decoration: line-through; /* Strikethrough text for completed tasks */
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

#filterItems {
  padding: 15px;
  border: 3px solid #b07979;
  border-radius: 3px;
  font-size: 14px;
  background-color: aquamarine;
  width: 9rem;
  margin-left: 10rem;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

#inputBox1 {
  margin-top: 150px;
  width: 30%;
  height: auto;
}

#inputBox2 {
  width: 30%;
  height: auto;
}

#formItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submitBtn {
  width: 9rem;
}

button:hover {
  background-color: #007B9A;
}

.btnItems {
  background-color: #4c8bab;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .App {
    max-width: 100%;
    padding: 10px;
  }

  .header {
    max-width: 100%;
  }

  #filterItems {
    margin-left: 0;
  }
}
